.tableheader1 {
  position: fixed;
  top: 0;
  background-color: #888; 
  padding: 1rem;
  z-index: 100;
}

.searchInput {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.custom-search-box {
  margin-right: 1rem;
}
